.clock {
  width: 400px;
  background-color: black;
  padding: 30px;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock .time {
  font-size: 64px;
  margin: 0 auto;
}
